<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    <bean id="student" class="beans.Student" autowire="byType" scope="request "> 
    
                <property name="name" value="Umman Hasanov" /> 
        <!--<property name="teacher" ref="teacher"/>--> 

    </bean>

    <bean id="teacher" class="beans.Teacher">
        <property name="name" value="Sarkhan"/>
    </bean>
    
    <bean id="str" class="java.lang.String">
        <constructor-arg value="Umman Hasanov"/>
    </bean>

</beans>